*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: rgb(162,45,238); */
    height: 100%;
    width: 100%;
    background: linear-gradient(178deg, rgba(162,45,238,1) 0%, rgba(91,111,182,1) 100%);
}

nav ul a{
    position: relative;
}

nav ul a::after{
    content:'' ;
    width: 0;
    position: absolute;
    background-color: #ffff;
    height: 3px;
    bottom: 0px;
    left: 0;
    transition: 0.5s;
}

nav ul a:hover::after{
    width: 100%;
}


#toggle{
    display: none;
}


main section img{
    width: 200px; 
}

main section div a{
    display: inline-block;
    background-color: transparent;
    color: #ffff;
    border: 2px solid #ffff;
    border-radius: 25px;
    width: 200px;
    text-decoration: none;  
    position: relative;
    overflow: hidden;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 500;
    
}

main section div a span{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #ffff;
    width: 0;
    height: 100%;
    border-radius: 20px ;
    z-index: -1;
    transition: 0.5s;
}

main section a:hover{
    color: #000000;
}

main section a:hover span{
    width: 100%;
}


/*              skills           */

.my-skill{
    margin: 20% 0;
}

.my-skill .container{
    width: 50%;
    margin: auto;

}


.my-skill h1{
    text-align: center;
    font-size: 3em;
    color: #eae7e7;
}

.my-skill .bar{
    margin: 5% 0;
    
}

.my-skill .bar .info span{
    font-size: 1.2em;
    text-transform: uppercase;
    color: #eae7e7;
    text-align: center;
    opacity: 0;
    animation: showText 3s 13s linear forwards;
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}


.my-skill .bar .line{
    width: 90%;
    height: 20px;
    background-color: transparent;
    border-radius: 20px;
    margin: 15px 0 0 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0px 1px rgba(255, 255, 255, 0.8);
    position: relative;
    transform: scalex(0);
    transform-origin: left;
    animation: animateLine 5s 10s cubic-bezier(1,0,0.5,1) forwards;
}

.my-skill .line span{
    position: absolute;
    width: 80%;
    height: 100%;
    border-radius: 20px;
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
    transform: scalex(0);
    transform-origin: left;
    animation: animateLine 5s 13s cubic-bezier(1,0,0.5,1) forwards;

}

@keyframes animateLine{
    100%{
        transform: scaleX(1);
    }
}

.my-skill .line.html1 span{
    width: 90%;
}
.my-skill .line.css1 span{
    width: 90%;
}
.my-skill .line.js1 span{
    width: 80%;
}
.my-skill .line.react1 span{
    width: 80%;
}
.my-skill .line.node1 span{
    width: 85%;
}
.my-skill .line.mongo1 span{
    width: 75%;
}


.my-skill .line span::before{
    position: absolute;
    content: '';
    right: 0;
    top: -15px;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent #ffff ;
    opacity: 0;
    animation: showText2 5s 10s linear forwards;

}

.my-skill .line span::after {
    position: absolute;
    right: 0;
    top: -30px;
    background-color: #fff;
    font-size: 12px;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 5s 10s linear forwards;
}

@keyframes showText2{
    100%{
        opacity: 1;
    }
}

.my-skill .line.html1 span::after{
    content: '90%';
}
.my-skill .line.css1 span::after{
    content: '90%';
}
.my-skill .line.js1 span::after{
    content: '80%';
}
.my-skill .line.react1 span::after{
    content: '80%';
}
.my-skill .line.node1 span::after{
    content: '85%';
}
.my-skill .line.mongo1 span::after{
    content: '75%';
}



/*          My Project           */


.project{
    margin-top: 15%;
    background: rgba(0, 0, 0, .5);
    
}

.project > h1{
    font-size: 3em;
    text-align: center;
    color: #eae7e7;
    padding-top: 10%;    
}

.project > div{
    margin-top: 5%;
}


.project .container-card{
    display: flex;
}


.project .col-left{
    margin-top: 5%;
    width: 50%;
    
}

.project .col-left h1{
    font-size: 2rem;
    color: #eae7e7;
}



.project .col-left div div p{
    margin: 20px 5px 0 5px;
    color: #ffff;
    padding: 15px 20px 15px 0;
    display: inline-block;
    padding: 5px;
    border-radius: 8px;
    background-color: rgb(0 0 0 / 0.5);
    font-size: 14px;
}

.project .col-left div p, a{
    margin-top: 20px;
    line-height: 2em;
    font-size: 18px;
    color: #eae7e7;

}

.project .col-left div a{
    color: aquamarine;
    text-decoration: none;
}


.project span{
    height: auto;
    width: 2px;
    background-color: #eae7e7;
    margin: 0 10px;
    position: relative;
    /* margin-top: 50px; */
}

.project span i{
    position: absolute;
    left: -7px;
    color: #eae7e7;
}

.project .col-right{
    width: 50%;
    padding:  50px;
    /* position: relative; */
    
}

.project .col-right img{
    width: 400px;
    height: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    /* position: absolute; */
    
} 
.project .col-right img:hover{
    transform: scale(1.1);
}


@media screen and (max-width: 576px) {
    .my-skill .container{
        width: 100%;
    }

    .project span{
        display: none;
    }
    .project .container-card{
        display: block;
    }
    .project .col-left{
        width: 100%;
        margin-top: 20%;
    }
    .project .col-right{
        width: 100%;
        text-align: center;
        margin-top: 10%;
    }
}


@media screen and (max-width: 992px) {
    .my-skill .container{
        width: 100%;
    }

    .project span{
        display: none;
    }
    .project .container-card{
        display: block;
    }
    .project .col-left{
        width: 100%;
        margin-top: 20%;
    }
    .project .col-right{
        width: 100%;
        text-align: center;
        margin-top: 10%;
    }
    
}

